html,
body {
  background-color: #212121;
  font-display: auto;
  scroll-behavior: smooth;
}
#txtHint {
  color: white;
  width: 87%;
  padding-top: 50px;
  margin: 20px auto 20px auto;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 80px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
}
#txtHint img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out, box-shadow 0.4s ease-out;
  border-radius: 8px;
}
#txtHint img:hover {
  transform: scale(1.1);
  box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.7);
}
.addImage {
  width: 70px;
  height: 70px;
  bottom: 1em;
  position: fixed;
  right: 25%;
  left: 50%;
  margin-left: -35px;
  background-color: #FF4500;
  border: none;
  border-radius: 70%;
  outline: none;
  cursor: pointer;
  color: #fff;
}
.goUp {
  display: none;
  width: 40px;
  height: 40px;
  bottom: 2.5em;
  right: 5em;
  position: fixed;
  background-color: #FF4500;
  color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 23px;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.modaalAchtergrond {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  justify-items: center;
  align-items: center;
}
.modaalContent {
  max-width: 80%;
  padding: 2em;
  border-radius: 5px;
  border: 2.5px solid #FF4500;
  box-shadow: 0 0 5px 0 #FF4500;
  background-color: #fff;
  max-height: 90vh;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  animation: beweging 1s ease-in-out forwards;
}
.album {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80vw;
  grid-gap: 1.5em;
}
.modaal img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  object-fit: fill;
}
.sluitButton {
  width: 1.5em;
  justify-self: end;
  font-size: 2em;
  font-weight: 900;
  border: 0;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}
.sluitButton:hover {
  color: #FF4500;
  outline: none;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
@keyframes beweging {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.975);
  }
  60% {
    transform: scale(1.012);
  }
  70% {
    transform: scale(0.995);
  }
  80% {
    transform: scale(1.006);
  }
  90% {
    transform: scale(0.9997);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes beweging {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.975);
  }
  60% {
    transform: scale(1.012);
  }
  70% {
    transform: scale(0.995);
  }
  80% {
    transform: scale(1.006);
  }
  90% {
    transform: scale(0.9997);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes beweging {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.975);
  }
  60% {
    transform: scale(1.012);
  }
  70% {
    transform: scale(0.995);
  }
  80% {
    transform: scale(1.006);
  }
  90% {
    transform: scale(0.9997);
  }
  100% {
    transform: scale(1);
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 5px;
}
.modaal article {
  font-size: 18px;
}
.modaal article .bold {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}
.uploadText {
  font-size: 25px;
}
.imageTitle, .imageTag, .imageDesc {
  padding: 6px 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #FF4500;
  text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
  font-size: 16px;
  box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
  border: 1px solid #FF4500;
  border-radius: 2px;
  cursor: pointer;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  margin-left: 45px;
}
input[type="submit"]:hover {
  animation-name: rubberBand;
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
.activeSet {
  background-color: #FF4500;
}
