html{
    font-display: auto;
    background-color: #212121;
}
.main-content {
  width: 87%;
  padding-top: 50px;
  margin: 20px auto 20px auto;
}
.disclaimer {
  font-size: 10px;
  font-style: italic;
  font-weight: lighter;
}
.profileContent {
  color: white;
  font-size: 40px;
}
.stockImage {
  width: 120px;
  height: 120px;
  padding-bottom: 20px;
  padding-left: 25px;
}
.pictureContent {
  color: white;
  padding-bottom: 7px;
  font-size: 20px;
  padding-left: 52px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
}
.inhoudContent {
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
}
.inhoudBold {
  font-weight: bold;
}
.activeSet {
  background-color: #FF4500;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.picUpdate {
  margin: auto;
  width: 25%;
}

input[type="submit"] {
  -webkit-appearance: none;
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #FF4500;
  text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
  font-size: 16px;
  box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, black 0 1px 0 0;
  border: 1px solid #FF4500;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
input[type="submit"]:hover {
  animation-name: rubberBand;
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
